<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="https://w.wallhaven.cc/full/13/wallhaven-13oq3v.jpg">

    <div style="text-align: center;">
        <form action="/user/add" method="post">
            账号：<input name="username" value="xiaoqin" type="text"><br>
            密码：<input name="password" type="password" value="1111"><br>
            <input type="submit" value="登录" name="sub" onmousedown="this">
        </form>
    </div>
</body>
</html>
